
{extend name="public/base"}

{block name="title"}添加产品{/block}

{block name="main"}
<!--添加产品-->
<form action="/product/save" method="post" style="width: 617px;">
    <fieldset class="w-75">

        <div class="layui-form-item" style="margin-top: 30px;">
            <label for="code" class="layui-form-label">编码</label>
            <div class="layui-input-block">
                <input type="text" id="code" name="code" class="layui-input" placeholder="请输入编码">
            </div>
        </div>

        <div class="layui-form-item" style="margin-top: 30px;">
            <label for="name" class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" class="layui-input" placeholder="请输入名称">
            </div>
        </div>

        <div class="layui-form-item" style="margin-top: 30px;">
            <label for="type" class="layui-form-label">规格</label>
            <div class="layui-input-block">
                <input type="text" id="type" name="type" class="layui-input" placeholder="请输入规格">
            </div>
        </div>

        <div class="layui-form-item" style="margin-top: 30px;">
            <label for="unit" class="layui-form-label">单位</label>
            <div class="layui-input-block">
                <input type="text" id="unit" name="unit" class="layui-input" placeholder="请输入单位">
            </div>
        </div>

        <div class="layui-form-item" style="margin-top: 30px;">
            <label for="price" class="layui-form-label">单价</label>
            <div class="layui-input-block">
                <input type="text" id="price" name="price" class="layui-input" placeholder="请输入单价">
            </div>
        </div>

        <div class="layui-form-item" style="margin-top: 30px;">
            <label for="sup" class="layui-form-label">供应商</label>
            <div class="layui-input-block">
                <input type="text" id="sup" name="sup" class="layui-input" placeholder="请输入供应商">
            </div>
        </div>

        <div class="layui-form-item" style="margin-top: 30px;">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <input type="submit" value="确认添加" class="layui-btn">
            </div>
        </div>

    </fieldset>
</form>
{/block}