{extend name="public/base"}

{block name="title"}出库记录{/block}

{block name="main"}
<!--出库记录页面-->
<table id="out" lay-filter="test"></table>
<table id="bt" lay-filter="bt"></table>
<script src="/layui/layui.js"></script>
<script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#out'
            ,height: 889
            ,url: '/io/list2' //数据接口
            ,page: {
                limit: 20
            } //开启分页
            ,cols: [[ //表头
                {field: 'code', title: '编码', width:200, sort: true, fixed: 'left'}
                ,{field: 'name', title: '名称', width:200}
                ,{field: 'type', title: '规格', width:200}
                ,{field: 'unit', title: '单位', width:150}
                ,{field: 'price', title: '单价', width: 150}
                ,{field: 'sup', title: '供应商', width: 200}
                ,{field: 'outnum', title: '出库量', width: 250}
                ,{field: 'outman', title: '出库人', width: 250}
                ,{field: 'outtime', title: '出库时间', width: 310, sort: true}
                // ,{fixed: 'right',title: '详情', width:99, toolbar: '#barDemo'}
            ]]
        });


        table.on('tool(test)',function (obj) {
            var data=obj.data;
            var layEvent=obj.event;

            if(layEvent==='bor'){
                    $.ajax({
                        type : "get",
                        url: '/io/detail',
                        data: JSON.stringify(data)
                    })

            }
        });



    });
</script>

<!--<script type="text/html" id="barDemo">-->
<!--    <a class="layui-btn layui-btn-xs" lay-event="bor" href="/io/detail">查看</a>-->
<!--</script>-->

{/block}

